[submodule "src/vendor/glfw"]
	path = src/vendor/glfw
	url = git@github.com:glfw/glfw.git
	branch = 3.4

[submodule "src/vendor/imgui"]
	path = src/vendor/imgui
	url = git@github.com:ocornut/imgui.git
